.aboutMeContainer {
    margin-top: 100px;
}

.content {
    display: flex;
    justify-content: space-between;
    height: 300px;
    margin-top: 25px;
}

.infoBlock {
    max-width: 550px;
    max-height: 500px;
}

.imageBlock {
    max-width: 550px;
    max-height: 500px;
}