.projectBlock {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project {
    max-width: 675px;
    max-height: 150px;
    padding: 15px 25px;
    border: 1px solid black;
    border-radius: 10px;
}

.nameProject {
    font-size: 20px;
    margin-bottom: 10px;
}

.descriptionProject {
    font-size: 18px;
    margin-bottom: 7px;
}

.sourceProject {
    text-decoration: none;
    display: block;
    width: 125px;
    font-weight: 600;
    color: #290052;
    transition: color, transform ease .3s, .3s;
}

.sourceProject:visited {
    color: #410081;
}

.sourceProject:hover {
    color: #BD7BFF;
    transform: scale(1.05);
}

.sourceProject:active {
    color: #7D50AB;
    transform: scale(1);
}

.projectImage {
    border: 2px solid #7D50AB;
    transition: transform ease .3s;
}

.projectImage:hover {
    transform: scale(1.05);
}

.projectImage:active {
    transform: scale(1);
}

.imageSrc {
    display: block;
    width: 350px;
}

.image {
    width: inherit;
}

@media screen and (min-width: 980px) and (max-width: 1199px) {
    .projectBlock {
        margin-bottom: 30px;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .arrowImage {
        transform: rotate(90deg);
    }
}

@media screen and (min-width: 769px) and (max-width: 979px) {
    .projectBlock {
        margin-bottom: 30px;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .arrowImage {
        transform: rotate(90deg);
    }
}

@media screen and (min-width: 640px) and (max-width: 768px) {
    .projectBlock {
        margin-bottom: 30px;
        padding: 0 25px 0 25px;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .project {
        max-height: 175px;
    }

    .arrowImage {
        transform: rotate(90deg);
    }
}
